.cart {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Yanone Kaffeesatz';
}

.cartItems {
	box-shadow: inset 1px 1px 5px rgb(201, 189, 189);
	display: flex;
	align-items: center;
	flex-direction: column;
	max-height: 20rem;
	overflow: auto;
	background-color: var(--color-background-main);
}

.cart .actions {
	display: flex;
	justify-content: center;
	align-items: center;
}
.cart .actions button {
	width: 4em;
}

.emptyCart {
	text-align: center;
	display: grid;
	place-items: center;
	text-decoration: none;
	width: 60%;
	height: 10em;
	color: black;
	border: 1px solid black;
	border-radius: 5px;
	font-size: 2.0rem;
}

.totalAmount {
	margin: 0;
	font-family: 'Yanone Kaffeesatz';
	font-weight: bold;
	font-size: 3rem;
}

@media (min-width: 768px) {
	.cartItems {
		max-height: 30rem;
	}
}
