.order {
	display: flex;
	flex-direction: column;
	width: 85%;
	max-height: 30em;
}

.order form {
	margin-top: 0.5em;
	max-height: 18em;
	box-shadow: inset var(--shadow-light);
	background-color: var(--color-background-main);
	overflow: auto;
}	

.order label {
	margin: 0.4em 0em;
	font-weight: bold;
}
.order input {
	border-radius: 5px;
	width: 85%;
	border: 0.5px solid;
	border-color: rgb(167, 160, 173);
}

.order form button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 8em;
	padding: 1em;
	font-size: 2rem;
}

.error {
	display: block;
	height: 1em;
	top: 0;
	color: brown;
	margin: 0.3em 0 0 0;
	font-size: 1.4rem;

}

.totalAmount {
	font-weight: bold;
	font-size: 3rem;
	margin: 0.5em 0 0 0;
}

.actions {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.buttons {
	display: flex;
}

.buttons button {
	padding: 0.2em;
	width: 5em;
	font-size: 2rem;
}

@media (min-width: 576px) {
	.order input {
		width: 15em;
	}

	.order form {
		padding: 1em;
		display: flex;
		justify-content: center;
		flex-direction: row;
		align-items: flex-start;
		flex-wrap: wrap;
		margin: 0.5em 0 0 0 ;
		height: 35em;
		gap: 1em;
		column-gap: 1.5em;
	}

	.amount {
		padding-top: 0.5em;
	}

	.order form button {
		margin: 1em 1.5em;
		height: 3em;
		width: 12em;
	}

	 .error {
		align-self: center;
	}
}
