@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');

:root {
	font-size: 62.5%;

	--color-font-main: #3b3b3b;
	--color-font-second: #2b552bf8;
	--shadow-light: 1px 1px 5px rgba(0, 0, 0, 0.2);
	--color-background-main: #f9f8f6;
	--color-background-second: #cbd1b036;
}

* {
	box-sizing: border-box;
	padding: 0;
	left: 0;
}

body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--color-background-main);
	/* background-image: url('./assets/leaves-lg.jpg'); */
	background-size: cover;
	background-position: center;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

ul {
	list-style: none;
}
