.inputForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input {
	text-align: center;
	font-size: 2rem;
	width: 4em;
	height: 2.2em;
	border: solid 1px rgba(0, 0, 0, 0.3);
}



input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	opacity: 1;
	color: black;
	width: 20px;
	height: 40px;
}